.header__info-bar-tile {
	padding: 0 32px;
	flex: 0.4;
	position: relative;
}

.header__info-bar-tile__title {
	margin-block-start: 0;
	margin-block-end: 0.6em;
	font-size: 1em;
	font-weight: 500;
	font-variant: small-caps;
	color: var(--color-gray);
	letter-spacing: 0.1em;
}

.header__info-bar-tile__content {
	margin-block-start: 0.6em;
	margin-block-end: 0;
	color: var(--color-dark);
	font-size: 1.5em;
	font-weight: 500;
	height: 65px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-color: var(--color-gray);
	scrollbar-width: 4px;
}

@media only screen and (max-width: 375px) {
	.header__info-bar-tile {
		flex: unset;
	}

	.header__info-bar-tile__content {
		height: unset;
		max-height: 65px;
	}
}
