.header__search-element__button {
	background-color: var(--color-dark);
	border-radius: 0 16px 16px 0;
	width: 3em;
	height: 100%;
	border: none;
	outline: none;
	position: relative;
	font-weight: 700;
	color: #fff;
}

.header__search-element__button:hover {
	background-color: hsl(0, 0%, 22%);
	cursor: pointer;
}

@media only screen and (max-width: 375px) {
	.header__search-element__button {
		width: 2em;
	}
}
