.header {
	height: 250px;
	width: 100vw;
	background-image: url('../../assets/images/pattern-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.header__app-title {
	font-weight: 500;
	margin-block-start: 24px;
	margin-block-end: 24px;
	color: white;
}
