.header__search-element {
	min-width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
}

@media only screen and (max-width: 1440px) {
	.header__search-element {
		min-width: unset;
		width: 90%;
		max-width: 500px;
	}
}
