:root {
	--font-size: 18px;
	--font-family: 'Rubik', sans-serif;
}

html,
body {
	margin: 0;
}

body,
input {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

* {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
